
.content {
    background-color: #141922;
    width: 100%;
    overflow-y: auto;
    padding-top: 5.625rem;
    color: grey;
}
h1, p {
    padding-left: 0.625rem;
}
h3,h1 {
    color: white;
}
p {
    font-size: 0.625rem;
    padding-top: .3125rem;
}
a {
    color: gray;
}
nav div:hover a {
    color: white;
} 

/**************************** 
HEADER
*****************************/
header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    max-width: 100%;
    left: 3.125rem;
    right: 0;
    top: 0;
    z-index: 1;
    height: 6.25rem;
}

header > div {
    height: 100%;
}

.button {
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 0 0.625rem;
}

.button button {
    padding: .9375rem 1.875rem;
    background-color: transparent;
    color: white;
    border: solid white;
    border-radius: 1.875rem;
}

button:hover {
    padding: 1.25rem 2.1875rem;
}

/**************************** 
HEADER
*****************************/

/* nav ***************************************** */
.content nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 -0.625rem;
    padding-bottom: 0.625rem;
}

.content nav div {
    padding: 1.25rem 0.625rem;
    display: inline-block; 
}
hr {
    width: 1.875rem;
    margin: 0 auto;
    height: 2px;
    background-color: #adff2f;
    border: none;
    margin-top: 2px;
    visibility: hidden;  
}
nav > div:hover > hr {
    visibility: visible;
}
/* nav ***************************************** */
/* box ***************************************** */
.boxs {
    padding: 1.25rem  0;
    width: 100%;
}

.box-container {
    width: calc(100% / 2);
    padding: .3125rem .4688rem;
}

.box {
    width: 100%;
        
}
.box > div {
    position: relative;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 100%; 
    display: block; 
}
.box i {
    position: absolute;
    display: none;
    color: white;
}
.box div:hover i {
    display: block;
    font-size: 40px;
     
/*     left: 35%;
    top: 35%; */
}
.box div:hover img {
    opacity: 0.5; 
}
.content section:last-child img {
    border-radius: 100%;
}
.album-title {
    width: 100%;
    text-align: center;
    padding: 1.25rem 0;
    line-height: 1.25rem;
}
/* box ***************************************** */
@media screen and (min-width:641px){
    .box-container {
        width: calc(100% / 4);
    }
}
@media screen and (min-width:879px){
    .box-container {
        width: calc(100% / 6);
    }
}