/**************************** 
DEBUG
*****************************/
/* header */
header {
    
}
/* main */
.box {
    height: 18.75rem;
    background-color: bisque;
    border: solid;
}
.box-container {
    background-color: aquamarine;
}
.boxs {
    background-color: yellow;
}

/**************************** 
DEBUG
*****************************/
