/**************************** 
DEBUG
*****************************/
/* header */
header {
    
}
/* main */
.box {
    
    background-color: bisque;
    border: solid;
}
.box-container {
    background-color: aquamarine;
}
.boxs {
    background-color: yellow;
}
/* .footleft, .footright {
    background-color: #16a52e;
} 
.footcent {
    background-color: #ce1111;
} */
/**************************** 
DEBUG
*****************************/
