@import url('content.css');
@import url('debug.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/**************************** 
COMMON
*****************************/
::-webkit-scrollbar {
    width: .3125rem;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    width: .3125rem;
    background-color: grey;
    border-radius: 0.625rem;
}

.flex {
    display: flex;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.justify-sb {
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;   
}
.none {
    display: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: white;
}
div {
    font-size: 12px;
}
li {
    font-size: .8125rem;
    list-style: none;
    padding: 0.625rem 0;
}

/**************************** 
COMMON
*****************************/







/**************************** 
MAIN
*****************************/
main {
    height: calc(100vh - 90px);
    flex-shrink: 0;
}
/* SIDEBAR */
/* TOP SIDEBAR */
.sidebar {
    width: 50px;
    overflow-y: hidden;
    background-color: black;
    color: grey;
    align-items: center;
    min-height: 100px;
    flex-shrink: 0;
}
.top-sidebar {
    width: 100%;
    align-items: center;
    gap: .625rem;
    padding-top: .9375rem;
}
.icon-sidebar i {
    font-size: 1.5625rem;
}
.top-sidebar > div:nth-child(2) {
    border-left: solid #adff2f;
}
.top-sidebar > div:nth-child(2), 
.top-sidebar div:nth-child(5),
.top-sidebar > div:first-child  {
    color: white;
}
.top-sidebar > div:first-child i {
    font-size: 1.875rem;
}
.top-sidebar div:nth-child(5) {
    padding-top: .9375rem;
}
.logo {
    padding: 0.625rem 0;
    width: 1.875rem;
}
.logo img {
    width: 100%;
}
.i {
    width: 2.1875rem;
}
.i img {
    width: 60%;
}
.top-sidebar .flex, .bottom-sidebar div {
    align-items: center;
}
.fa-square-plus {
    font-size: 2.5rem;
}

/* BOTTOM SIDEBAR */
.bottom-sidebar {
    margin-top: auto;
    padding-bottom: 0.625rem;
    width: 100%;
    align-items: center;
}
.bottom-sidebar div:first-child {
    padding: .625rem 0; 
}
.img-container {
    width: 0.625rem;
    border: solid white;
}
.bottom-sidebar .i {
    width: 40px;
    height: 40px;
    border: solid white 1px;
    border-radius: 50px;
    text-align: center;
    background-color: grey;
}
.id {
    border-top: solid grey .0625rem;
    padding-top: .625rem;
    color: white;
    width: 100%;
    justify-content: center;
}
.id i {
    font-size: x-large;
}

/* SIDEBAR */
/* content */

/* content */

@media screen and (min-width: 553px) {

    header {
        left: 14.375rem;
    }
    .sidebar {
        width: 230px;
        align-items: flex-start;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    /* top sidebar */

    .none {
        display: inline-block;
    }
    .top-sidebar{
        align-items: flex-start;
        padding-bottom: 1.25rem;
        padding-top: 0;
    }
    .logo {
        padding: 20px 0;
        width: 130px;
    }
    .logo-small {
        display: none;
    }
    
    .top-sidebar div:nth-child(6) {
        display: flex;
        align-items: center;
    }
    .playlist {
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        overflow: auto;
        width: 100%;
    }
    /* .logo {
        align-items: center;
        line-height: 5.625rem;
        color: white;
    } */
    /* .logo span {
        font-size: 1.5625rem;
    }
    .fa-spotify {
        font-size: 2.5rem;
    } */
    .sidebar i {
        padding: 0 0;
    }
    /* top sidebar */
    /* bottom sider bar */
    .bottom-sidebar {
        align-items: flex-start;
    }
    .id {
        justify-content: flex-start;
    }
    /* bottom sider bar */


}

/**************************** 
MAIN
*****************************/


/**************************** 
FOOTER
*****************************/
footer {
    height: 5.625rem;
    width: 100%;
    background-color: #282828;
    color: white;
}
.footcent, .footleft, .footright {
    align-items: center; 
}
.footleft, .footright {
    width: 30%;
    padding: 1.25rem 0;
}

.footcent {
    flex-grow: 1;
    min-width: 200px;
}

footer i:hover, .footleft a:hover {
    color: white;
}
/* FOOTER SINISTRA *************/
.footleft img {
    width: 100%;
}
.footleft > div:first-child {
    width: 30px;
    margin: 0 .625rem;
}
.footleft div:nth-child(2) {
    font-size: .8125rem;
    display: inline-block;
}
.footleft > div > div:last-child {
    color: grey;
    font-size: .8125rem;
}
.footleft > div:last-child {
    padding-left: .9375rem;
    padding-right: .625rem;
}
.footleft i {
    color: grey;
    display: block;
}
@media screen and (min-width: 553px) {
    .footleft > div:first-child {
        width: 40px;
    }
}
@media screen and (min-width:641px){
    
}
@media screen and (min-width:879px){
    .footleft div:nth-child(2) {
        padding-right: 1.5rem;
    }
    .footleft i {
        display: inline-block;
        padding: 0 .3125rem;
    }
}
/* FOOTER SINISTRA ************/
/* FOOTER CENTRO **************/
.footcent {
    justify-content: center;
    gap: .625rem;
}
.footcent > div:first-child {
    align-items: center;
}
.footcent > div {
    justify-content: center;
    width: 100%;
}
.footcent > div:last-child  {
    gap: 0.625rem;
    align-items: center;
    font-size: small;
    
}
/* ICONE CENTRALI */
/* .footcent i:nth-child(3) {
    padding: 0 1.875rem;
    font-size: 1.875rem;
} */
/* .footcent > i:nth-child(2) {
    padding-left: 1.25rem;
    font-size: 1.25rem; 
}
.footcent > i:nth-child(3) {
    padding-right: 1.25rem;
} */
/* .footcent > i:nth-child(1),
 .footcent i:nth-child(4) {
    font-size: 1.25rem; 
} */
.footcent > div:first-child {
    gap: 15px;
}
.footcent i {
    font-size: 15px;
}
#play {
    width: 40px;
    height: 20px;
    text-align: center;
}
#play i {
    line-height: 20px;
    font-size: 25px;
}
#play:hover i {
    font-size: 30px;
}


/* ICONE CENTRALI */

/* BARRA CENTRALE */
.bar {
    flex-grow: 0.7;
    height: 3px;
    background-color: grey;
    border-radius: .625rem;
}
.bar, .bar-right {
    align-items: center;
}
.bar div:first-child {
    width: 20%;
    height: 3px;
    background-color: lightgray;
    border-radius: .625rem;
    text-align: end;
}

.bar div:last-child {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
    display: none;
}
.bar:hover div:last-child {
    display: block;
}

.bar-right:hover div:last-child {
    display: block;
}
.bar:hover div:first-child, 
.bar-right:hover div:first-child {
    background-color: #adff2f;
}
/* BARRA CENTRALE */
@media screen and (min-width: 553px) {
    .footleft > div:first-child {
        width: 40px;
    }
}
@media screen and (min-width:641px){
    
}
@media screen and (min-width:879px){
    .footleft div:nth-child(2) {
        padding-right: 1.5rem;
    }
    .footleft i {
        display: inline-block;
        padding: 0 .3125rem;
    }
}
/* FOOTER CENTRO **************/

/* FOOTER DESTRA **************/
.footright > div {
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 0.625rem;
    gap: 0.625rem;
}
.bar-right {
    width: 5.3125rem;
    flex-grow: 0.1;
    height: 3px;
    background-color: grey;
    border-radius: .625rem;
}
.bar-right div {
    width: 20%;
    height: 3px;
    background-color: lightgray;
    border-radius: .625rem;
}
.bar-right div:last-child {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
    display: none;
}
/* FOOTER DESTRA **************/

/**************************** 
FOOTER
*****************************/


/**************************** 
:HOVER
*****************************/
.sidebar div div:hover, .sidebar li:hover {
    color: white;
}

/**************************** 
:HOVER
*****************************/
