@import url('debug.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/**************************** 
COMMON
*****************************/
::-webkit-scrollbar {
    width: .625rem;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    width: .625rem;
    background-color: grey;
    border-radius: 0.625rem;
}

.flex {
    display: flex;
}
.container {
    max-width: 90rem;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.justify-sb {
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;   
}
.none {
    display: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/**************************** 
COMMON
*****************************/




/**************************** 
HEADER
*****************************/
header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
/*     height: 90px;*/
}
header > div {
    height: 100%;
}
.button {
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 1.25rem 0.625rem;

}
.button button {
    padding: .9375rem 1.875rem;
    background-color: transparent;
    color: white;
    border: solid white;
    border-radius: 1.875rem;
}
/**************************** 
HEADER
*****************************/


/**************************** 
MAIN
*****************************/

/* SIDEBAR */
/* TOP SIDEBAR */
.sidebar {
    width: 3.125rem;
    height: calc(100%-90px);
    background-color: black;
    color: grey;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 5.625rem;
    align-items: center; 
}
.top-sidebar {
    width: 100%;
    align-items: center;
    gap: .9375rem;
    padding-top: .9375rem;
}
.icon-sidebar i {
    font-size: 1.5625rem;
}
.top-sidebar > div:nth-child(2), 
.top-sidebar div:nth-child(5),
.top-sidebar > div:first-child  {
    color: white;
}
.top-sidebar > div:first-child i {
    font-size: 1.875rem;
}
.top-sidebar div:nth-child(5) {
    padding-top: .9375rem;
}
.playlist {
    gap: 1.25rem;
}
i {
    padding: .3125rem 0;
}
.top-sidebar .flex, .bottom-sidebar div {
    align-items: center;
}
.fa-square-plus {
    font-size: 2.5rem;
}

/* BOTTOM SIDEBAR */
.bottom-sidebar {
    margin-top: auto;
    padding-bottom: 0.625rem;
    width: 100%;
    align-items: center;
}
.bottom-sidebar div:first-child {
    padding: .625rem 0; 
}
.id {
    border-top: solid grey .0625rem;
    padding-top: .625rem;
    color: white;
    width: 100%;
    justify-content: center;
}
.id i {
    font-size: x-large;

}

/* SIDEBAR */
/* content */
.content {
    width: 100%;
    padding-top: 5.625rem;
    padding-left: 3.75rem;
    padding-right: 1.875rem;
    padding-bottom: 5.625rem;
}
.content nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 3.4375rem;
    padding: 0 -0.625rem;
}
.content nav div {
    padding: 0 0.625rem;
    display: inline-block;
}
h1 {
    padding-left: 0.625rem;
}
.boxs {
    padding: 1.25rem  0;
    width: 100%;
    
}

.box-container {
    width: calc(100% / 2);
    padding: .3125rem .625rem;
}
.box {
    width: 100%;    
}
/* content */

@media screen and (min-width: 553px) {
    
    .sidebar {
        width: 14.375rem;
        align-items: flex-start;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    /* top sidebar */
    .content {
        padding-left: 15.625rem;
    }
    .none {
        display: inline-block;
    }
    .top-sidebar{
        align-items: flex-start;
        padding-bottom: 1.25rem;
        padding-top: 0;
    }
    .playlist {
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        overflow: auto;
        width: 100%;
    }
    .logo {
        align-items: center;
        line-height: 5.625rem;
        color: white;
    }
    .logo span {
        font-size: 1.5625rem;
    }
    .fa-spotify {
        font-size: 2.5rem;
    }
    .sidebar i {
        padding: 0 0;
    }
    /* top sidebar */
    /* bottom sider bar */
    .bottom-sidebar {
        align-items: flex-start;
    }
    /* bottom sider bar */


}
@media screen and (min-width:641px){
    .box-container {
        width: calc(100% / 4);
    }
}
@media screen and (min-width:879px){
    .box-container {
        width: calc(100% / 6);
    }
}
/**************************** 
MAIN
*****************************/


/**************************** 
FOOTER
*****************************/
footer {
    height: 5.625rem;
    width: 100%;
    background-color: #282828;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: white;
}
.footcent, .footleft, .footright {
    align-items: center; 
}
footer > div {
    width: calc(100% / 3);
}
/* .footleft, .footright {
    width: 30%;
}
.footcent {
    flex-grow: 1;
} */
/* FOOTER SINISTRA *************/
.footleft img {
    width: 100%;
    
}
.footleft > div:first-child {
    width: 30px;
    margin: 0 .625rem;
}
.footleft div:nth-child(2) {
    font-size: .8125rem;
    display: inline-block;
}
.footleft > div > div:last-child {
    color: grey;
    font-size: .8125rem;
}
.footleft > div:last-child {
    padding-left: .9375rem;
}
.footleft i {
    color: grey;
    display: block;
}
@media screen and (min-width: 553px) {
    .footleft > div:first-child {
        width: 40px;
    }
}
@media screen and (min-width:641px){
    
}
@media screen and (min-width:879px){
    .footleft div:nth-child(2) {
        padding-right: 1.5rem;
    }
    .footleft i {
        display: inline-block;
        padding: 0 .3125rem;
    }
}
/* FOOTER SINISTRA ************/

/**************************** 
FOOTER
*****************************/
